body {
    background-color: #ECF0F1;
}

p {
    font-size: x-large;
    border-color: burlywood;
    border-style: dashed;
    width: 85%;
    margin-top: 5%;
    margin-left: 5%;
    padding: 1%;
}

.line {
    background-color: #16A085;
    color: white;
    font-size: x-large;
    width: 98%;
    padding: 1%;
}

footer {
    text-align: left;
    padding: 3px;
    background-color: #34495E;
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 1%;
    width: 98%;

}

.linkf {
    color: white;
    font-size: larger;
}

.linkred {
    color: #D4AC0D;
    font-size: larger;
}

button {
    background-color: #34495E;
    border: #16A085;
    border-style: solid;
    border-width: 2px;
    font-size: x-large;
    color: #ECF0F1;
    border-radius: 5px;
    margin-left: 25%;
    width: 50%;
    height: 60px;
    margin-top: 3%;
}

button:hover {
    background-color: transparent;
    color: #34495E;
    cursor: default;
}

.bg {
    background-image: url('https://s6.uupload.ir/files/bg_jrbk.gif');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #34495E;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.text {
    color: #ECF0F1;
    border-color: #16A085;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    border-width: 1px;
    border-style: solid;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: x-large;
}